<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="YelloKiller.Properties.Unlocked" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="YelloKiller.SUnlocked" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="YelloKiller.Unlocked" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="YelloKiller.Properties.Scores" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="YelloKiller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="YelloKiller.Properties.Français" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <YelloKiller.Properties.Unlocked>
      <setting name="S2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C1" serializeAs="String">
        <value>True</value>
      </setting>
    </YelloKiller.Properties.Unlocked>
    <YelloKiller.SUnlocked>
      <setting name="S2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S6" serializeAs="String">
        <value>False</value>
      </setting>
    </YelloKiller.SUnlocked>
    <YelloKiller.Unlocked>
      <setting name="S2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="S6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C6" serializeAs="String">
        <value>False</value>
      </setting>
    </YelloKiller.Unlocked>
    <YelloKiller.Properties.Scores>
      <setting name="Name_01" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_01" serializeAs="String">
        <value>90000</value>
      </setting>
      <setting name="Name_02" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_02" serializeAs="String">
        <value>80000</value>
      </setting>
      <setting name="Name_03" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_03" serializeAs="String">
        <value>70000</value>
      </setting>
      <setting name="Name_04" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_04" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="Name_05" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_05" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="Name_06" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_06" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="Name_07" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_07" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="Name_08" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_08" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="Name_09" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_09" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="Name_10" serializeAs="String">
        <value>Kassociés</value>
      </setting>
      <setting name="Score_10" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Map_01" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_02" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_03" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_04" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_05" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_06" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_07" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_08" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_09" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
      <setting name="Map_10" serializeAs="String">
        <value>Yello Killer</value>
      </setting>
    </YelloKiller.Properties.Scores>
    <YelloKiller.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AudioType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MusicVolume" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FXVolume" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FullScreen" serializeAs="String">
        <value>False</value>
      </setting>
    </YelloKiller.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <YelloKiller.Properties.Français>
      <setting name="MainMenuTitle" serializeAs="String">
        <value>" Yello Killer\nMenu Principal"</value>
      </setting>
      <setting name="MainMenuSolo" serializeAs="String">
        <value>"Mode Solo"</value>
      </setting>
      <setting name="MainMenuCoop" serializeAs="String">
        <value>"Mode Co-op"</value>
      </setting>
      <setting name="MainMenuEditor" serializeAs="String">
        <value>"Editeur de cartes"</value>
      </setting>
      <setting name="MainMenuOptions" serializeAs="String">
        <value>"Options"</value>
      </setting>
      <setting name="MainMenuQuit" serializeAs="String">
        <value>"Quitter"</value>
      </setting>
    </YelloKiller.Properties.Français>
  </applicationSettings>
</configuration>