<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yellokiller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Yellokiller.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FXVolume" serializeAs="String">
                <value>10</value>
            </setting>
        </Yellokiller.Properties.Settings>
    </userSettings>
</configuration>